#library-model{
  width: 300px;
  height: 200px;
  border: none;
}

/*small tablet*/
@media screen and (min-width: 565px) {
  #library-model{
    width: 500px;
    height: 333px;
  }
}

/*large tablet*/
@media screen and (min-width: 768px) {
  #library-model{
    width: 600px;
    height: 400px;
  }
}

/*large tablet landscape*/
@media screen and (min-width: 1024px) {
  #library-model{
    width: 900px;
    height: 600px;
  }
}

/*monitor*/
@media screen and (min-width: 1200px) {
  #library-model{
    width: calc( 675 + 1vw );
    height: 450px;
  }
}
