#library-model{
  width: 270px;
  height: 180px;
  margin: 0 auto;
  border: 3px solid var(--bg1);
  border-radius: 5%;
}

/*small tablet*/
@media screen and (min-width: 565px) {
  #library-model{
    width: 450px;
    height: 300px;
  }
}

/*large tablet*/
@media screen and (min-width: 768px) {
  #library-model{
    width: 600px;
    height: 400px;
  }
}

/*large tablet landscape*/
@media screen and (min-width: 992px) {
  // #library-model{
  //   width: 800px;
  //   height: 600px;
  // }
}

/*monitor*/
@media screen and (min-width: 1200px) {
  #library-model{
    width: calc( 660px + 6vw );
    height: calc( 440px + 4vw );
  }
}
