/*library model sized responsively*/
#library-model {
  width: 390px;
  height: 260px;
  margin: 0 auto;
  border: 3px solid var(--bg1);
  border-radius: calc(5px + 3vw);
  max-width: 90vw;
}

/*small tablet*/
@media screen and (min-width: 565px) {
  #library-model {
    width: 450px;
    height: 300px;
  }
}

/*large tablet*/
@media screen and (min-width: 768px) {
  #library-model {
    width: 600px;
    height: 320px;
  }
}

/*large tablet landscape*/
@media screen and (min-width: 992px) {
  #library-model {
    max-height: 320px;
    border: 5px solid var(--bg1);
  }
}

/*monitor*/
@media screen and (min-width: 1200px) {
  #library-model {
    width: calc(660px + 6vw);
    height: calc(440px + 4vw);
  }
}

/*xxl monitor*/
@media screen and (min-width: 1500px) {
  #library-model {
    max-height: 10000px;
  }
}
