/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.form-header {
  margin: 0rem 1rem 1rem 1rem;
}

form {
  margin: 0rem 1rem 1rem 1rem;
}

form input {
  margin: 1rem 0;
}

textarea {
  margin: 1rem 0;
}

.btn-outline-primary {
  border: 2px solid var(--text1);
  font-weight: 600;
  color: var(--text1);
}

.btn-outline-primary:hover {
  background-color: inherit;
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: none;
}

.contact-map {
  margin-bottom: 1rem;
}
