/* map sized responsively*/
#map {
  height: 320px;
  width: 100%;
  color: black;
}

.form-header {
  margin: 0rem 1rem 1rem 1rem;
}

form {
  margin: 0rem 1rem 1rem 1rem;
}

form input {
  margin: 1rem 0;
}

textarea {
  margin: 1rem 0;
}

.btn-outline-primary {
  border: 2px solid var(--text1);
  font-weight: 600;
  color: var(--text1);
}

button.btn-outline-primary:hover {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}


.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: none;
}

.contact-map {
  margin-bottom: 1rem;
}

/*xxl monitor*/
@media screen and (min-width: 1500px) {
  #map {
    height: 400px;
    width: 100%;
  }
}
