/*HOME GALLERY*/
.my-col {
  display: flex;
  justify-content: center;
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition: 1s;
  border: 1px solid var(--text1);
  border-radius: 5px;
}

.gallery-item .gallery-image {
  // border: 1px solid var(--text1);
  // border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .gallery-image img {
  transform: scale(1.1);
}

.dog video {
  height: 100%;
  width: 100%;
}

.text-back {
  padding: 0 0.5rem;
  background-color: var(--panel);
}

// .gallery-text {
//   margin: 0 0.9rem 0 0.3rem;
// }

svg.gallery-heading {
  padding: 0.05rem;
}

.gallery-heading {
  animation: linefill 2s ease forwards 1.5s;
}

.gallery-heading path {
  stroke-dasharray: 151px;
  stroke-dashoffset: 151px;
  animation: line 2.5s ease forwards;
}

@keyframes line {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes linefill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text1);
  }
}
