/*HOME GALLERY*/
.text-rows{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

svg.gallery-heading {
  padding: .1rem;
  position: relative;
  bottom: 5px;
  display: none;
}

.gallery-heading {
  animation: linefill 2s ease forwards 1.5s;
}

.gallery-heading path {
  stroke-dasharray: 151px;
  stroke-dashoffset: 151px;
  animation: line 2.5s ease forwards;
}

@keyframes line {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes linefill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text1);
  }
}

#text-render{
  animation: opacityR 20s infinite;
}

@keyframes opacityR{
  0%{
    opacity: 1;
  }
  15%{
    opacity: 1;
  }
  25%{
    opacity: .2;
  }
  90%{
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}
#text-model{
  animation: opacity3d 20s infinite;
}

@keyframes opacity3d{
  0%{
    opacity: .2;
  }
  15%{
    opacity: .2;
  }
  25%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  50%{
    opacity: .2;
  }
  90%{
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}
#text-furniture{
  animation: opacityF 20s infinite;
}

@keyframes opacityF{
  0%{
    opacity: .2;
  }
  15%{
    opacity: .2;
  }
  25%{
    opacity: .2;
  }
  40%{
    opacity: .2;
  }
  50%{
    opacity: 1;
  }
  65%{
    opacity: 1;
  }
  75%{
    opacity: 0.2;
  }
  90%{
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}
#text-portraits{
  animation: opacityP 20s infinite;
}

@keyframes opacityP{
  0%{
    opacity: .2;
  }
  15%{
    opacity: .2;
  }
  25%{
    opacity: .2;
  }
  40%{
    opacity: .2;
  }
  50%{
    opacity: .2;
  }
  65%{
    opacity: .2;
  }
  75%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.text-rows a #text-render:hover,
.text-rows a #text-model:hover,
.text-rows a #text-furniture:hover,
.text-rows a #text-portraits:hover{
  opacity: 1 !important;
  animation-play-state: paused;
}

.gallery-overlay{
  border: 3px solid var(--bg1);
  border-radius: calc(5px + 3vw);
  overflow: hidden;
  position: relative;
  width: calc( 150px + 37.5vw);
  height: calc( 100px + 25vw);
  margin: 10px auto;
  animation: z 20s infinite;
}

.gallery-overlay img{
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transform: scale(1.1);
}

.img-render{
  animation: opacR 20s infinite;
}

@keyframes opacR{
  0%{
    opacity: 1;
  }
  15%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-model{
  animation: opac3d 20s infinite;
}

@keyframes opac3d{
  15%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

.img-furniture{
  animation: opacF 20s infinite;
}

@keyframes opacF{
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  65%{
    opacity: 1;
  }
  75%{
    opacity: 0;
  }
}

.img-portrait{
  animation: opacP 20s infinite;
}

@keyframes opacP{
  65%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@media (min-width: 992px){
  svg.gallery-heading{
    display: inline-block;
    opacity: .5;
    
  }



  #text-render, #text-model, #text-furniture, #text-portraits {
    display: none;
  }
  #text-render, #text-model,  #text-furniture, #text-portaits, .img-render, .img-model, .img-furniture, .img-portrait{
    animation: none;
  }
  .gallery-overlay img {
    opacity: 1;
}
img.active-img-link{
  z-index: 2;
}
svg.active-svg{
  opacity: 1;
}
}