/*HOME GALLERY*/
.my-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid var(--text1);
  border-radius: 5px;
}

.gallery-item .gallery-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .gallery-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .gallery-image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dog video {
  height: 100%;
  width: 100%;
}

.text-back {
  padding: 0 0.5rem;
  background-color: var(--panel);
}

.gallery-text {
  margin: 0 0.9rem 0 0.3rem;
}

svg.gallery-heading {
  padding: 0.05rem;
}

.gallery-heading {
  -webkit-animation: linefill 2s ease forwards 1.5s;
          animation: linefill 2s ease forwards 1.5s;
}

.gallery-heading path {
  stroke-dasharray: 151px;
  stroke-dashoffset: 151px;
  -webkit-animation: line 2.5s ease forwards;
          animation: line 2.5s ease forwards;
}

@-webkit-keyframes line {
  to {
    stroke-dashoffset: 0%;
  }
}

@keyframes line {
  to {
    stroke-dashoffset: 0%;
  }
}

@-webkit-keyframes linefill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text1);
  }
}

@keyframes linefill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text1);
  }
}

.models {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#bookcase-model {
  width: 400px;
  height: 800px;
}

video {
  width: 100%;
}

#carousel-portraits .carousel-control-next-icon,
#carousel-portraits .carousel-control-prev-icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#carousel-portraits .carousel-indicators {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#carousel-portraits .carousel-indicators li {
  background-color: #999;
}

#carousel-portraits .carousel-indicators li.active, #carousel-portraits .carousel-indicators li:hover {
  opacity: 100%;
}

.carousel-item video {
  max-width: 100%;
  height: auto;
}

#library-model {
  width: 300px;
  height: 200px;
  border: none;
}

/*small tablet*/
@media screen and (min-width: 565px) {
  #library-model {
    width: 500px;
    height: 333px;
  }
}

/*large tablet*/
@media screen and (min-width: 768px) {
  #library-model {
    width: 600px;
    height: 400px;
  }
}

/*large tablet landscape*/
@media screen and (min-width: 1024px) {
  #library-model {
    width: 900px;
    height: 600px;
  }
}

/*monitor*/
@media screen and (min-width: 1200px) {
  #library-model {
    width: calc( 675 + 1vw);
    height: 450px;
  }
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html[data-theme="light"] {
  --bg1: #ffffff;
  --panel: #a3a3a3;
  --panel2: #434343;
  --text1: black;
  --text2: #0077ff;
}

html[data-theme="dark"] {
  --bg1: black;
  --panel: #434343;
  --panel2: #a3a3a3;
  --text1: #ffffff;
  --text2: #3694ff;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text1);
  background: var(--bg1);
}

/*body overflow hidden when nav toggle is active*/
body.hide {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--text1);
}

li {
  list-style: none;
}

h1 {
  font-family: "Lily Script One", cursive;
  font-size: calc(1.3rem + 1vw);
  color: var(--text1);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

.big-text {
  font-size: 3rem;
  display: none;
}

.bold {
  font-weight: 500;
}

/*NAVIGATION*/
nav {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg1);
  min-height: 4vh;
}

.toggle-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  opacity: 1;
  -webkit-clip-path: circle(50px at 100% -20%);
          clip-path: circle(50px at 100% -20%);
}

.nav-links li a {
  color: var(--text1);
  margin-right: 1rem;
  padding: 0;
  font-size: calc(0.3rem + 1vw);
  font-weight: 400;
  cursor: pointer;
  opacity: 0.5;
  line-height: 1.1;
}

.nav-links li a:hover {
  border-bottom: 2px solid var(--text1);
  opacity: 1;
}

.toggle-nav-link {
  font-weight: 700;
  font-size: calc(1.2rem + 1vw);
  margin: calc(2rem + 1vw) 0rem;
  color: var(--bg1);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.toggle-nav-link:hover {
  color: var(--bg1);
  border-bottom: 2px solid var(--bg1);
}

.nav-links {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links ul {
  display: none;
}

.nav-links .active-nav-link {
  border-bottom: 2px solid var(--text1);
  opacity: .9;
}

.active-toggle-nav-link {
  border-bottom: 2px solid var(--bg1);
}

.logo {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 6;
      -ms-flex: 6 1 20rem;
          flex: 6 1 20rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

#logo-image {
  width: 40%;
  z-index: 5;
}

.burger {
  cursor: pointer;
  z-index: 5;
}

.line1,
.line2,
.line3 {
  background-color: var(--text1);
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  pointer-events: none;
  z-index: 5;
}

/*LOGO ANIMATION*/
.cog1 {
  -webkit-animation: cog1 2.3s ease-in-out;
          animation: cog1 2.3s ease-in-out;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cog2 {
  -webkit-animation: cog2 2.3s ease-in-out;
          animation: cog2 2.3s ease-in-out;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cog-text {
  z-index: 100;
}

@-webkit-keyframes cog1 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes cog1 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes cog2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes cog2 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

.logo svg {
  text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf, 0 0 5px #aaaf, 0 0 5px #aaaf;
  -webkit-animation: flicker 3s linear infinite;
          animation: flicker 3s linear infinite;
}

.logo svg:hover {
  text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf, 0 0 5px #aaaf, 0 0 5px #aaaf;
  -webkit-animation: Multicolor 3s linear infinite;
          animation: Multicolor 3s linear infinite;
}

@-webkit-keyframes flicker {
  10%,
  30%,
  60%,
  75% {
    opacity: 1;
  }
  20%,
  40%,
  70% {
    opacity: 0.85;
  }
}

@keyframes flicker {
  10%,
  30%,
  60%,
  75% {
    opacity: 1;
  }
  20%,
  40%,
  70% {
    opacity: 0.85;
  }
}

@-webkit-keyframes Multicolor {
  0% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf, 0 0 5px #aaaf, 0 0 5px #aaaf;
  }
  33% {
    text-shadow: 0 0 25px #ffbb00, 0 0 25px #ffbb00, 0 0 15px #ffbb00, 0 0 15px #ffbb00, 0 0 5px #ffbb00, 0 0 5px #ffbb00;
  }
  67% {
    text-shadow: 0 0 25px #ffbb00, 0 0 25px #ffbb00, 0 0 15px #ffbb00, 0 0 15px #ffbb00, 0 0 5px #ffbb00, 0 0 5px #ffbb00;
  }
  100% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf, 0 0 5px #aaaf, 0 0 5px #aaaf;
  }
}

@keyframes Multicolor {
  0% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf, 0 0 5px #aaaf, 0 0 5px #aaaf;
  }
  33% {
    text-shadow: 0 0 25px #ffbb00, 0 0 25px #ffbb00, 0 0 15px #ffbb00, 0 0 15px #ffbb00, 0 0 5px #ffbb00, 0 0 5px #ffbb00;
  }
  67% {
    text-shadow: 0 0 25px #ffbb00, 0 0 25px #ffbb00, 0 0 15px #ffbb00, 0 0 15px #ffbb00, 0 0 5px #ffbb00, 0 0 5px #ffbb00;
  }
  100% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf, 0 0 5px #aaaf, 0 0 5px #aaaf;
  }
}

/*NAV TEXT DROP ANIMATION
display changed to inline block to enable text to translate*/
.logo span {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: inline-block;
}

.logo span.fade {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.drop1 {
  font-size: calc(1.6rem + 1vw);
}

.drop2 {
  font-size: calc(0.7rem + 1vw);
}

/*DARK TOGGLE*/
/*toggle modified from a codepen by Marcus Burnette:https://codepen.io/mburnette/pen/LxNxNg*/
.toggle-container {
  min-height: 2vh;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--panel);
  float: right;
  border-radius: 100px;
  position: relative;
  top: 0.5rem;
  right: 1rem;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--panel2);
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: var(--panel);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/*MAIN*/
main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg1);
  min-height: 80vh;
  margin: auto;
}

/*BOOTSTRAP*/
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/*CSS GRID SETTINGS*/
.width-1 {
  grid-column: span 6;
}

.width-2 {
  grid-column: span 6;
}

.width-3 {
  grid-column: span 6;
}

.width-4 {
  grid-column: span 6;
}

.width-5 {
  grid-column: span 6;
}

.width-6 {
  grid-column: span 6;
}

.height-1 {
  grid-row: span 2;
}

.height-2 {
  grid-row: span 2;
}

.height-3 {
  grid-row: span 2;
}

.height-4 {
  grid-row: span 2;
}

.height-5 {
  grid-row: span 2;
}

.height-6 {
  grid-row: span 2;
}

/*CAROUSEL*/
.carousel-container {
  max-width: 70rem;
  margin-bottom: 3rem;
}

.carousel-caption {
  text-shadow: 2px 2px 5px black;
}

.carousel-indicators li:hover {
  opacity: 100%;
}

/*FOOTER*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--panel);
  min-height: 8vh;
}

.copyright {
  color: #fcfcfc;
  font-size: 0.9rem;
  margin: 0 1rem;
}

.social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links ul li i {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #fcfcfc;
}

.social-links ul li i:hover {
  color: #5da9ff;
}

/*------------------------------------------------------------------------------
media queries
------------------------------------------------------------------------------*/
/*xxs*/
/*phone (default)*/
@media screen and (max-width: 736px) and (orientation: landscape) {
  /*Toggle Nav*/
  .toggle-nav-links {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .toggle-nav-link {
    margin: 0.5rem;
  }
  /*CSS Grid*/
  .gallery-container {
    grid-auto-rows: 100px;
  }
}

/*small tablet*/
@media screen and (min-width: 565px) {
  #logo-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .drop2 {
    font-size: calc(1.6rem + 1vw);
  }
  #logo-image {
    width: 20%;
  }
}

/*large tablet*/
@media screen and (min-width: 768px) {
  #logo-image {
    width: 15%;
  }
  main {
    width: 95%;
    margin: auto;
  }
  .copyright {
    font-size: 1rem;
  }
  .social-links ul li i {
    font-size: 2rem;
  }
}

/*large tablet landscape*/
@media screen and (min-width: 1024px) {
  #logo-image {
    width: 20%;
  }
  .drop1,
  .drop2 {
    font-size: calc(1rem + 2vw);
  }
  .burger {
    display: none;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-title {
    display: none;
  }
  .big-text {
    display: inline-block;
  }
  .width-1 {
    grid-column: span 1;
  }
  .width-2 {
    grid-column: span 2;
  }
  .width-3 {
    grid-column: span 3;
  }
  .width-4 {
    grid-column: span 4;
  }
  .width-5 {
    grid-column: span 5;
  }
  .width-6 {
    grid-column: span 6;
  }
  .height-1 {
    grid-row: span 1;
  }
  .height-2 {
    grid-row: span 2;
  }
  .height-3 {
    grid-row: span 3;
  }
  .height-4 {
    grid-row: span 4;
  }
  .height-5 {
    grid-row: span 5;
  }
  .height-6 {
    grid-row: span 6;
  }
}

/*monitor*/
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: 534px;
    height: 325px;
  }
  .big-text {
    font-size: 6rem;
  }
}

/*xl monitor*/
@media (min-width: 1500px) {
  #logo-image {
    width: 15%;
  }
}
/*# sourceMappingURL=style.css.map */