/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg1: #fcfcfc;
  --panel: #757575;
  --text1: #333333;
  --text2: #0077ff;
}

html[data-theme="dark"] {
  --bg1: #333333;
  --panel: #434343;
  --text1: #fcfcfc;
  --text2: #3694ff;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text1);
}

a {
  text-decoration: none;
  color: var(--text1);
}

li {
  list-style: none;
}

li a {
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
}

h1 {
  font-family: "Lily Script One", cursive;
  font-size: 2rem;
  color: var(--text1);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

/*NAVIGATION*/

/*title text animation
display changed to inline block to enable text to translate*/
.logo span {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(-100px);
  display: inline-block;
}
.logo span.fade {
  opacity: 1;
  transform: translateY(0px);
}

/*second drop to be dispalyed on larger screens*/
.drop2 {
  display: none;
}

nav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg1);
  min-height: 10vh;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links ul {
  display: none;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#logo-text {
  display: flex;
}

/*MAIN*/
main {
  display: flex;
  align-items: center;
  background-color: var(--bg1);
  min-height: 80vh;
  width: 95%;
  margin: auto;
}

/*HOME GALLERY*/
.gallery-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery-item {
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin: 0 2rem;
}
.gallery-image img {
  width: 200px;
  height: 200px;
}

.gallery-text p {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bg1);
  background-color: var(--panel);
  min-height: 10vh;
}

.copyright {
  font-size: 0.7rem;
  margin: 0 1rem;
}

.social-links ul {
  display: flex;
}

.social-links ul li i {
  text-transform: uppercase;
  color: var(--bg1);
}

/*LOGO ANIMATION*/
#cog1 {
  animation: cog1 3s linear;
  transform-box: fill-box;
  transform-origin: center;
}

#cog2 {
  animation: cog2 3s linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes cog1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes cog2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.logo svg {
  text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
    0 0 5px #aaaf, 0 0 5px #aaaf;
  animation: flicker 3s linear infinite;
}

.logo svg:hover {
  text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
    0 0 5px #aaaf, 0 0 5px #aaaf;
  animation: Multicolor 3s linear infinite;
}

@keyframes flicker {
  10%,
  30%,
  60%,
  75% {
    opacity: 1;
  }
  20%,
  40%,
  70% {
    opacity: 0.85;
  }
}

@keyframes Multicolor {
  0% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
      0 0 5px #aaaf, 0 0 5px #aaaf;
  }
  33% {
    text-shadow: 0 0 25px rgb(255, 187, 0), 0 0 25px rgb(255, 187, 0),
      0 0 15px rgb(255, 187, 0), 0 0 15px rgb(255, 187, 0),
      0 0 5px rgb(255, 187, 0), 0 0 5px rgb(255, 187, 0);
  }
  67% {
    text-shadow: 0 0 25px rgb(255, 187, 0), 0 0 25px rgb(255, 187, 0),
      0 0 15px rgb(255, 187, 0), 0 0 15px rgb(255, 187, 0),
      0 0 5px rgb(255, 187, 0), 0 0 5px rgb(255, 187, 0);
  }
  100% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
      0 0 5px #aaaf, 0 0 5px #aaaf;
  }
}

/*------------------------------------------------------------------------------
media queries
------------------------------------------------------------------------------*/
/*xxs*/
@media (min-width: 0px) {
}

/*xs default*/
@media (min-width: 320px) {
}

/*sm*/
@media (min-width: 768px) {
  .drop2 {
    display: inline-block;
  }
  .copyright {
    font-size: 1rem;
  }
  .social-links ul li i {
    font-size: 2rem;
  }
}

/*md*/
@media (min-width: 992px) {
}

/*lg*/
@media (min-width: 1200px) {
  .nav-links {
    display: flex;
  }
  .nav-links ul {
    display: flex;
  }
}

/*xl*/
@media (min-width: 1500px) {
}
