@import "home";
@import "furniture";
@import "portrait";
@import "3d";
@import "contact";

/*GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid black;
}

html[data-theme="light"] {
  --bg1: #ffffff;
  --panel: #a3a3a3;
  --panel2: #434343;
  --text1: black;
  --text2: #0077ff;
}

html[data-theme="dark"] {
  --bg1: black;
  --panel: #434343;
  --panel2: #a3a3a3;
  --text1: #ffffff;
  --text2: #3694ff;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text1);
  background: var(--bg1);
}

/*body overflow hidden when nav toggle is active*/
body.hide {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--text1);
}
a:hover {
  color: inherit;
}

p a {
  font-weight: 800;
  font-size: 1.2rem;
}

p a:hover {
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: underline;
}

li {
  list-style: none;
}

h1 {
  font-family: "Lily Script One", cursive;
  font-size: calc(1.3rem + 1vw);
  color: var(--text1);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

.blue {
  color: #0077ff;
}

.big-text {
  font-size: 2rem;
  display: none;
}
.bold {
  font-weight: 500;
}
// .page-title {
//   margin: .5rem 0;
// }
.row {
  margin-bottom: 1rem;
}

/*NAVIGATION*/
nav {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg1);
  min-height: 4vh;
  // position: fixed;
}

.toggle-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  opacity: 1;
  clip-path: circle(50px at 100% -20%);
}
.nav-links li a {
  color: var(--text1);
  margin-right: 1rem;
  padding: 0;
  font-size: calc(0.3rem + 1vw);
  font-weight: 400;
  cursor: pointer;
  opacity: 0.5;
  line-height: 1.1;
}

.nav-links li a:hover {
  // border-bottom: 2px solid var(--text1);
  opacity: 1;
}

.toggle-nav-link {
  font-weight: 700;
  font-size: calc(1.2rem + 1vw);
  margin: calc(2rem + 1vw) 0rem;
  color: var(--bg1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.toggle-nav-link:hover {
  color: var(--bg1);
  // border-bottom: 2px solid var(--bg1);
}

.nav-links {
  display: inline-block;
  align-items: center;
}

.nav-links ul {
  display: none;
}

.nav-links .active-nav-link {
  font-weight: 800;
  opacity: 0.9;
}
.active-toggle-nav-link {
  border-bottom: 2px solid var(--bg1);
}

.logo {
  padding: 0.5rem;
  display: flex;
  flex: 6 1 20rem;
  align-items: center;
}
#logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
#logo-image {
  width: 40%;
  z-index: 5;
}

.burger {
  cursor: pointer;
  z-index: 5;
}

.line1,
.line2,
.line3 {
  background-color: var(--text1);
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  pointer-events: none;
  z-index: 5;
}

/*LOGO ANIMATION*/

.cog1 {
  animation: cog1 2.3s ease-in-out;
  transform-box: fill-box;
  transform-origin: center;
}

.cog2 {
  animation: cog2 2.3s ease-in-out;
  transform-box: fill-box;
  transform-origin: center;
}

.cog-text {
  z-index: 100;
}

@keyframes cog1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes cog2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.logo svg {
  text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
    0 0 5px #aaaf, 0 0 5px #aaaf;
  animation: flicker 3s linear infinite;
}

.logo svg:hover {
  text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
    0 0 5px #aaaf, 0 0 5px #aaaf;
  animation: Multicolor 3s linear infinite;
}

@keyframes flicker {
  10%,
  30%,
  60%,
  75% {
    opacity: 1;
  }
  20%,
  40%,
  70% {
    opacity: 0.85;
  }
}

@keyframes Multicolor {
  0% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
      0 0 5px #aaaf, 0 0 5px #aaaf;
  }
  33% {
    text-shadow: 0 0 25px rgb(255, 187, 0), 0 0 25px rgb(255, 187, 0),
      0 0 15px rgb(255, 187, 0), 0 0 15px rgb(255, 187, 0),
      0 0 5px rgb(255, 187, 0), 0 0 5px rgb(255, 187, 0);
  }
  67% {
    text-shadow: 0 0 25px rgb(255, 187, 0), 0 0 25px rgb(255, 187, 0),
      0 0 15px rgb(255, 187, 0), 0 0 15px rgb(255, 187, 0),
      0 0 5px rgb(255, 187, 0), 0 0 5px rgb(255, 187, 0);
  }
  100% {
    text-shadow: 0 0 25px #aaaf, 0 0 25px #aaaf, 0 0 15px #aaaf, 0 0 15px #aaaf,
      0 0 5px #aaaf, 0 0 5px #aaaf;
  }
}

/*NAV TEXT DROP ANIMATION
display changed to inline block to enable text to translate*/
.logo span {
  opacity: 1;
  transition: all 1s ease;
  transform: translateY(-100px);
  display: inline-block;
}
.logo span.fade {
  opacity: 1;
  transform: translateY(0px);
}
.drop1 {
  font-size: calc(1.6rem + 1vw);
  margin: 0;
}
.drop2 {
  font-size: calc(0.7rem + 1vw);
  margin: 0;
}

/*Color Radio Buttons*/
/*Colors*/
.normal {
  color: var(--text1) !important;
  border-color: var(--bg1) !important;
  transition: 1s;
}
.yellow {
  color: #d8be25 !important;
  border-color: #d8be25 !important;
  transition: 1s;
  fill: #d8be25 !important;
  stroke: #d8be25 !important;
}
.blue {
  color: #86b6c6 !important;
  border-color: #86b6c6 !important;
  transition: 1s;
  fill: #86b6c6 !important;
  stroke: #86b6c6 !important;
}
.green {
  color: #7fc197 !important;
  border-color: #7fc197 !important;
  transition: 1s;
  fill: #7fc197 !important;
  stroke: #7fc197 !important;
}
.pink {
  color: #ff8596 !important;
  border-color: #ff8596 !important;
  transition: 1s;
  fill: #ff8596 !important;
  stroke: #ff8596 !important;
}
.brown {
  color: #ecbc8f !important;
  border-color: #ecbc8f !important;
  transition: 1s;
  fill: #ecbc8f !important;
  stroke: #ecbc8f !important;
}

.color-buttons {
  padding-right: 1rem;
  display: flex;
}
.btn-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* Hide the browser's default checkbox */
.btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.btn-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: var(--bg1);
}

/* Customize the label (the container) */
.btn-container {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.btn-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: var(--bg1);
  border-radius: 50%;
}
.btn-checkmark-yellow {
  border: 3px solid #d8be25;
}
.btn-checkmark-blue {
  border: 3px solid #86b6c6;
}
.btn-checkmark-green {
  border: 3px solid #7fc197;
}
.btn-checkmark-pink {
  border: 3px solid #ff8596;
}
.btn-checkmark-brown {
  border: 3px solid #ecbc8f;
}
.btn-checkmark-normal {
  border: 3px solid var(--panel2);
}

/* When the radio button is checked, fill the circle*/
.btn-container-yellow input:checked ~ .btn-checkmark {
  background-color: #d8be25;
}
.btn-container-blue input:checked ~ .btn-checkmark {
  background-color: #86b6c6;
}
.btn-container-green input:checked ~ .btn-checkmark {
  background-color: #7fc197;
}
.btn-container-pink input:checked ~ .btn-checkmark {
  background-color: #ff8596;
}
.btn-container-brown input:checked ~ .btn-checkmark {
  background-color: #ecbc8f;
}
.btn-container-normal input:checked ~ .btn-checkmark {
  background-color: var(--panel2);
}

/*DARK TOGGLE*/
/*toggle modified from a codepen by Marcus Burnette:https://codepen.io/mburnette/pen/LxNxNg*/
.toggle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 4vh;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#darkLight {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--panel);
  float: right;
  border-radius: 100px;
  position: relative;
  top: 0.5rem;
  right: 1rem;
}

#darkLight:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--panel2);
  border-radius: 50px;
  transition: 0.3s;
}

input:checked + #darkLight {
  // background: var(--panel);
  background: yellow;
}

input:checked + #darkLight:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#darkLight:active:after {
  width: 45px;
}

/*MAIN*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg1);
  min-height: 80vh;
  margin: 1rem auto;
}

/*BOOTSTRAP*/
.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*CAROUSEL*/
.carousel-container {
  border: 3px solid var(--bg1);
  border-radius: calc(5px + 3vw);
  overflow: hidden;
  max-width: 70rem;
}

.carousel-caption {
  text-shadow: 2px 2px 5px black;
}
.carousel-indicators {
  li:hover {
    opacity: 100%;
  }
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: var(--panel);
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
}

.copyright {
  color: #fcfcfc;
  font-size: 0.9rem;
  margin: 0 1rem;
}

.social-links ul {
  display: flex;
}

.social-links ul li i {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #fcfcfc;
}
.social-links ul li i:hover {
  color: #5da9ff;
}

/*------------------------------------------------------------------------------
media queries
------------------------------------------------------------------------------*/
/*xxs*/
@media screen and (min-width: 0px) {
}

/*xs phone (default)*/
@media screen and (min-width: 320px) {
}

@media screen and (max-width: 736px) and (orientation: landscape) {
  /*Toggle Nav*/
  .toggle-nav-links {
    transform: translateY(20px);
  }
  .toggle-nav-link {
    margin: 0.5rem;
  }
}

/*small tablet*/
@media screen and (max-height: 565px) {
  /*Toggle Nav*/
  .toggle-nav-links {
    transform: translateY(20px);
  }
  .toggle-nav-link {
    margin: 0rem;
  }
}

/*small tablet*/
@media screen and (min-width: 565px) {
  #logo-text {
    flex-direction: row;
  }
  .drop2 {
    font-size: calc(1.6rem + 1vw);
  }
  #logo-image {
    width: 20%;
  }
  .page-title {
    font-size: calc(2rem + 1vw);
  }
}

/*md large tablet*/
@media screen and (min-width: 768px) {
  #logo-image {
    width: 15%;
  }
  main {
    width: 95%;
    margin: auto;
  }
  .copyright {
    font-size: 1rem;
  }
  .social-links ul li i {
    font-size: 2rem;
  }
  .page-title {
    font-size: calc(2.5rem + 1vw);
  }
}

/*lg large tablet landscape*/
@media screen and (min-width: 992px) {
  #logo-image {
    width: 20%;
  }
  .drop1,
  .drop2 {
    font-size: calc(1rem + 2vw);
  }
  .burger {
    display: none;
  }
  .nav-links {
    display: flex;
    // flex: 3 1 20rem;
  }
  .nav-links ul {
    display: flex;
  }
  .row {
    margin-bottom: 2rem;
  }
  .page-title {
    display: none;
  }
  .big-text {
    display: inline-block;
    font-size: calc(2.9rem + 3vw);
  }
  .carousel-container {
    border: 5px solid var(--bg1);
  }
}

/*xl monitor*/
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: 534px;
    height: 325px;
  }
}

/*xxl monitor*/
@media (min-width: 1500px) {
  #logo-image {
    width: 15%;
  }
}
